{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center mx-1 mx-md-0 px-0 px-md-3">
    <div class="col-md-5 col-lg-3 col-12">
        <img class='img-fluid' src = "../static/sid_guitar.jpeg" alt="sids picture">
    </div>
    <div class="col-md-7 col-lg-5 col-12 my-md-0 my-5 px-0 px-md-3">
        <p>I am an aspiring self-taught programmer with an interest in mathematics, 
            data, and strategy.</p>

        <p>I learnt to code during lockdown, though my background is quite different. 
            As a child I wanted to be a tennis player. I competed at many tournaments, 
            becoming one of the best players in the country, 
            and I still play at a semi-professional level. 
            At university I studied classical music, and currently play in a number of 
            orchestras and bands at a professional level.</p>
            
        <p>I have thoroughly enjoyed learning to code and bring to it the same level 
            of enthusiasm and pursuit of learning that I fostered in my previous 
            aspirations. Now a new journey has begun, and I cannot wait to see 
            where this new journey will take me.</p>

    </div>
</div>
<h2 class='row justify-content-center my-4 title-font'>SKILLS</h2>
<div class="row">
    <div class='col'>
        <button type="button" class="btn btn-outline-primary my-1">Python</button>
        <br>
        <button type="button" class="btn btn-outline-secondary my-1">Data Structures & Algorithms</button>
        <button type="button" class="btn btn-outline-secondary my-1">Discrete Math</button>
        <br>
        <button type="button" class="btn btn-outline-success my-1">Flask</button>
        <button type="button" class="btn btn-outline-success my-1">Heroku</button>
        <button type="button" class="btn btn-outline-success my-1">Computer Architecture & Assembley</button>
        <br>
        <button type="button" class="btn btn-outline-danger my-1">Numpy</button>
        <button type="button" class="btn btn-outline-danger my-1">Pandas</button>
        <button type="button" class="btn btn-outline-danger my-1">Matplotlib</button>
        <button type="button" class="btn btn-outline-danger my-1">SQLAlchemy</button>
        <button type="button" class="btn btn-outline-danger my-1">Selenium</button>
        <button type="button" class="btn btn-outline-danger my-1">Unittest</button>
        <br>
        <button type="button" class="btn btn-outline-warning my-1">SQL</button>
        <br>
        <button type="button" class="btn btn-outline-info my-1">HTML & CSS</button>
    </div>
</div>
{% endblock %}