{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center mx-1 mx-md-0 px-0 px-md-3">
    <div class="col-md-5 col-lg-3 col-12">
        <img class='img-fluid' src = "../static/sid_guitar.jpeg" alt="sids picture">
    </div>
    <div class="col-md-7 col-lg-5 col-12 my-md-0 my-5 px-0 px-md-3">
        <p>Siddhartha Lethbridge is a self taught programmer from Bath. 
            Over lockdown he tried his hand in many a thing - 
            maths, making podcasts, biceps, cooking, candles, 
            and eventually coding. Starting literally from zero, 
            in what he deems “A True Underdog Story", 
            he soon realised there was more to it than meets the eye.
             He thought the decision making was finally over, 
             but the world of coding was vast. Eventually, 
             with the aid of more than a few YouTube videos he 
             settled upon the firm recommendation of every millenial and mid-life 
             crisis turned tech-wizard - Python.</p>
        <p>Two years later Siddhartha is still coding, 
            and although mainly from his excessive stubbornness and pride not to give up, 
            he’d made some decent progress. He even made this website!</p>
    </div>
</div>
<h2 class='row justify-content-center my-4'>Skills</h2>
<div class="row justify-content-center">
    
    <ul>
        <li>Python</li>
        <li>Data Structures and Algorithms</li>
        <li>Flask</li>
        <li>Heroku</li>
        <li>Modules: Numpy, Pandas, SQLAlchemy, Matplotlib, Selenium</li>
        <li>SQL</li>
        <li>Html and CSS</li>
        <li>Discrete Math</li>
    </ul>
</div>
{% endblock %}