{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-12 col-md-6 col-lg-4 my-2">
        <a href='https://pacific-mountain-84007.herokuapp.com/' class = 'link'>
            <div class="card">
                <img src="../static/connect4.png" alt="connect 4" class="card-img-top">
                <div class="card-body">
                    <div class="card-title font-weight-bold">
                        Connect Four
                    </div>
                    <div class="card-text">
                        I built a connect four game that uses the Minimax algorithm. The website version is
                        slightly buggy I'm afraid but you can play locally by cloning the repository from 
                        my github project named: connect_nodb.
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-12 col-md-6 col-lg-4 my-2">
        <a href='https://github.com/sidneysquidney/ciphers' class = 'link'>
            <div class="card">
                <img src="../static/cipher.jpeg" alt="cipher" class="card-img-top">
                <div class="card-body">
                    <div class="card-title font-weight-bold">
                        Cipher Maker
                    </div>
                    <div class="card-text">
                        This cipher maker and cracker works on the Caesar, 
                        Vinegere, and Substitution cipher. Connect via github.
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-12 col-md-6 col-lg-4 my-2">
        <a href='https://pure-stream-64835.herokuapp.com/' class = 'link'>
            <div class="card">
                <img src="../static/doggy.jpg" alt="photography" class="card-img-top">
                <div class="card-body">
                    <div class="card-title font-weight-bold">
                        Photography Website
                    </div>
                    <div class="card-text">
                        Photography Website for my wonderfully talented wife - Lina Katzmarcik.
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

{% endblock %}