{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-12 col-md-6 col-lg-4 my-2">
        <a href='https://pure-stream-64835.herokuapp.com/' class = 'project'>
            <div class="card border-primary">
                <img src="../static/photography_screenshot.png" alt="photography" class="card-img-top">
                <div class="card-body">
                    <div class="card-title font-weight-bold title-font">
                        LINA KATZMARCIK PHOTOGRAPHY
                    </div>
                    <div class="card-text">
                        Photography Website for my wonderfully talented wife - Lina Katzmarcik. Made using Python and Flask.
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-12 col-md-6 col-lg-4 my-2">
        <a href='https://replit.com/@sidneysquidney/Connect-Four#.replit' class = 'project'>
            <div class="card border-primary">
                <img src="../static/conn.png" alt="connect 4" class="card-img-top">
                <div class="card-body">
                    <div class="card-title font-weight-bold title-font">
                        CONNECT FOUR
                    </div>
                    <div class="card-text">
                        I built a connect four game that uses the Minimax algorithm. Made using Python and Flask. 
                        You can play locally by cloning the repository from 
                        my Github, project named: connect_nodb. Otherwise this link will enable you to play the 
                        terminal version.
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-12 col-md-6 col-lg-4 my-2">
        <a href='https://replit.com/@sidneysquidney/Caesar-Substitution-and-Vinegere-Cipher#.replit' class = 'project'>
            <div class="card border-primary">
                <img src="../static/ciphertext.png" alt="cipher" class="card-img-top">
                <div class="card-body">
                    <div class="card-title font-weight-bold title-font">
                        CIPHER MAKER
                    </div>
                    <div class="card-text">
                        This cipher encrypter and decrypter works on the Caesar, 
                        Vinegere, and Substitution cipher.
                        Made with Python.
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

{% endblock %}