{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-12 col-md-6 col-lg-4 my-2">
        <a href='https://pure-stream-64835.herokuapp.com/' class = 'link'>
            <div class="card">
                <img src="../static/photography_screenshot.png" alt="photography" class="card-img-top">
                <div class="card-body">
                    <div class="card-title font-weight-bold">
                        Lina Katzmarcik Photography
                    </div>
                    <div class="card-text">
                        Photography Website for my wonderfully talented wife - Lina Katzmarcik. Made using Python and Flask.
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-12 col-md-6 col-lg-4 my-2">
        <a href='https://replit.com/@sidneysquidney/Connect-Four#.replit' class = 'link'>
            <div class="card">
                <img src="../static/conn.png" alt="connect 4" class="card-img-top">
                <div class="card-body">
                    <div class="card-title font-weight-bold">
                        Connect Four
                    </div>
                    <div class="card-text">
                        I built a connect four game that uses the Minimax algorithm. Made using Python and Flask. 
                        The website version is
                        slightly buggy but you can play locally by cloning the repository from 
                        my Github, project named: connect_nodb. Otherwise the link here will enable you to play the 
                        terminal version.
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-12 col-md-6 col-lg-4 my-2">
        <a href='https://replit.com/@sidneysquidney/Caesar-Substitution-and-Vinegere-Cipher#.replit' class = 'link'>
            <div class="card">
                <img src="../static/ciphertext.png" alt="cipher" class="card-img-top">
                <div class="card-body">
                    <div class="card-title font-weight-bold">
                        Cipher Maker
                    </div>
                    <div class="card-text">
                        This cipher maker and cracker works on the Caesar, 
                        Vinegere, and Substitution cipher.
                        Made with Python.
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

{% endblock %}